/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.travel {
  &__inner {
    padding: 50px 20px;
    align-items: center;
  }
}

.side {
  display: block;
}
